<section class="app">
    <header>
        <app-new-button (invokeEvent)="addNoteButtonClick()" />
        <span>[<a tabindex="0" [class.workInProgress]="isSavingInProgress" (keypress)="saveNoteButtonClick()" (keydown)="saveNoteButtonClick()">{{ isSavingInProgress ? 'Saving...' : 'Save' }}</a>]</span>
        <app-delete-button (invokeEvent)="deleteNoteButtonClick(selectedNote())" />
    </header>
    <article>
        <app-note-detail [note]="selectedNote" />
    </article>
    <aside>
        <app-note-list
            [notes]="notes"
            [selectedNote]="selectedNote()"
            (noteSelectionChange)="selectedNoteChange($event)"
            (noteDeleted)="deleteNoteFromList($event)" />
    </aside>
</section>
