<section class="app">
    <header>
        <span>[<a tabindex="0" (click)="addNoteButtonClick()" (keypress)="addNoteButtonClick()">New</a>]</span>
        <span>[<a tabindex="0" [class.workInProgress]="isSavingInProgress" (keypress)="saveNoteButtonClick()" (keydown)="saveNoteButtonClick()">{{ isSavingInProgress ? 'Saving...' : 'Save' }}</a>]</span>
        <span>[<a tabindex="0" (click)="deleteNoteButtonClick(selectedNote)" (keypress)="deleteNoteButtonClick(selectedNote)">Delete</a>]</span>
    </header>
    <article>
        <app-note-detail [note]="selectedNote"></app-note-detail>
    </article>
    <aside>
        <app-note-list
            [notes]="notes"
            [selectedNote]="selectedNote"
            (noteSelectionChange)="selectedNoteChange($event)"
            (noteDeleted)="deleteNoteFromList($event)"
        >
        </app-note-list>
    </aside>
</section>
