<section class="app">
    <header>
        <app-new-button (invokeEvent)="addNoteButtonClick()" />
        <app-save-button [isSavingInProgress]="isSavingInProgress" (invokeEvent)="saveNoteButtonClick()" />
        <app-delete-button (invokeEvent)="deleteNote(selectedNote())" />
    </header>
    <article>
        <app-note-detail [note]="selectedNote" />
    </article>
    <aside>
        <app-note-list
            [notes]="notes"
            [selectedNote]="selectedNote()"
            (noteSelectionChange)="selectedNoteChange($event)"
            (noteDeleted)="deleteNote($event)" />
    </aside>
</section>
